.subhead{
    background-color:rgb(36, 66, 165);;
    border-radius: 5px;
    
    border: 1px solid black;
    margin-left: 50px;
    margin-right: 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    
}
.last{
    background-color: rgb(236, 178, 52);
    text-align: center;
    padding-left: 5px;
    padding-top: 7px;
    padding-right: 5px;
    color:white;
    width: 140px;
    
}
.word
{
    color: white;
    font-size: 16px;
    text-align: center;
}
.bor{
    border-left: 1px solid black;
    color:white;
    height: 42px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
/* .bor2
{
    border-right: 1px solid black;
    height: 42px;
    


} */
.b1{
    
    border-left: 1px solid black;
    height: 42px;
    border-right: 1px solid black;
    height: 42px;
    color:white;
}
.un{
    padding-left: 7px;
}
.tx{
    color:white;
}